{% extends 'base.html' %}
{% load staticfiles %}

{% block bootstrap3_title %}SHERRY SHEAF | {% block title %}CONTACT{% endblock %}{% endblock %}


{% block content %}
<div class="row">
  <p id=label>CONTACT</p>
</div>

<div class="contact">
  <p>SHERRY SHEAF & COMPANY INC.</p>
  <p>PROJECT MARKETING CONCEPTS LLC.</p>
  <br>
  <p>PALM BEACH NEW YORK LOS ANGELES</p>
  <p>phone: + 1  954  568  5808</p>
  <p>fax: + 1  954  568  2334</p>
  <br><br>
  <p>email: info@sherrysheaf.com</p>


{% endblock %}
