{% load staticfiles %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}"</a>
        <img src= "{% static 'img/nav-logo.png' %}" alt="Brand">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav"></ul>
      <ul class="nav navbar-nav navbar-right">
        <li class={% if request.path == '/' %}"active"{% endif %}><a href="{% url 'index' %}">HOME</a></li>
        <li class={% if 'collections' in request.path %}"active"{% elif 'categories' in request.path %}"active"{% elif 'product' in request.path %}"active"{% elif 'login' in request.path %}"active"{% endif %}>
          <a href="{% url 'collections' %}">PRODUCTS</a></li>
        <li class={% if request.path == '/concepts/' %}"active"{% endif %}><a href="{% url 'concepts' %}">CONCEPTS</a></li>
        <li class={% if request.path == '/about/' %}"active"{% endif %}><a href="{% url 'about' %}">ABOUT US</a></li>
        <li class={% if request.path == '/contact/' %}"active"{% endif %}><a href="{% url 'contact' %}">CONTACT</a></li>
        <li class={% if request.path == '/press/' %}"active"{% endif %}><a href="{% url 'press' %}">PRESS</a></li>
        <li><a href="http://www.facebook.com/pages/Sherry-Sheaf-and-Co-Inc/185365518163921?fref=ts" target="_blank">FACEBOOK</a></li>
      </ul>
    </div>
  </div>
</nav>
