{% extends "base.html" %}
{% load i18n staticfiles thumbnail %}

{% block bootstrap3_title %}SHERRY SHEAF | {% block title %}PRODUCTS{% endblock %}{% endblock %}

{% block content %}

    <div class="row col-lg-12">
        <h1 class="page-header">{{ object.title }}</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
		    {% if object.caption %}<p>{{ object.caption|safe }}</p>{% endif %}
        <a  href="{{ photo.image.url }}">
             <img src="{{ photo.image|thumbnail_url:'display' }}" class="thumbnail" alt="{{ photo.title }}">
        </a>
        </div>
				</table>
        </div>
    </div>

{% endblock %}
